@model ContactManager.Models.Employee

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var rank = ViewData["ranking"] as List<ContactManager.Models.Rank>;
}

<div class="containe" id="top-converter-div">
    <div style="margin-bottom: 30px;">
        <span class="color-orange bold title">@User.Identity.Name</span>
    </div>
    <div class="container">
        <div class="row">
            <span class="btn col-md-3 no-click orange-bckg color-white">Score Fixe: @Model.fixScore</span>
            <span class="btn col-md-3 col-md-offset-2 no-click orange-bckg color-white">Score Variable: @Model.variableScore</span>
            <br />
        </div>
    </div>
    <br />
    <span>@Html.ActionLink("Convertir", "Convert", "Employees", new { @class = "btn col-md-3 convertir-btn" })</span>
    <br /><br />
    @foreach (var act in Model.activities)
    {
        <br />
        <span>
            @act.platform @act.action = @act.points | date: @act.parentCreatedAt | id: @act.parentId
        </span>
        <br />
    }

    @foreach (var rewards in Model.rewards_used)
    {
        <br />
        <span>
            @rewards.name Date: @rewards.convertDate
        </span>
    }
</div>

<div class="container" id="bottom-converter-div">
    <span class="color-orange bold title">Company's Logs</span>
        @foreach (var act in rank)
        {
            <br />
            <span>
                @act.screen_name Score: @act.variableScore
            </span>
            <br />
        }
</div>